@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, travelaer</h1>
    <h2>Do wee need it</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img class="fit-picture" src="https://i.imgur.com/Nt0UfYb.jpeg"
        alt="Anime01">
        <img class="fit-picture" src="https://i.imgur.com/MSevrNA.jpg"
        alt="Anime02">
</div>
